.fondo-nav{
    background-color: #1e741e;
    color: white;
}
.logo{
    font-family: 'Unica One', cursive;
    font-size: 30px;
}
.nav-link{
    font-family: 'Montserrat', sans-serif;
}
.jumbotron{
    background-image: url(https://images.pexels.com/photos/7658822/pexels-photo-7658822.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
    height:550px;
    color:white;
    font-family: 'Montserrat', sans-serif;
    padding-top: 110px;
    margin:0;
}
.jumbotron h1{
    font-size: 45px;
}
h2{
    display:flex;
    justify-content: center;
    padding:50px;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    background-color: #1e741e;
    color:white;
}
.categorias{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 15px;
}
.container-fluid{
    padding-left: 300px;
}

.card{
    margin-bottom: 100px;
    padding-top: 20px;

}

.oculto{
    display:none;
}

#carrito{
    margin: 50px;
}

.noVisible{
    display: none;
}

.footer{
    min-height: 100px;
    width: 100%;
    padding: 50px;
    background-color: #1e741e;
    color:white;
    text-align: center;
}

.footer p{
    font-size: 14px;
}

.footer i{
    font-size: 30px;
    letter-spacing: 20px;
}